.sidebar{
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  width: 65px;
}

@media (max-width: 790px){
  .sidebar{
    display: none;
  }
  
  body{
    padding-left: 22px;
  }
}

.sidebar_link{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: 75px;
  width: 65px;
  margin: -3px;
  margin-left: 4px;
  font-size: 10px;
}

.sidebar_link:hover{
  background-color: rgba(211, 211, 211, 0.459);
  border-radius: 11px;
  transition: .15s;
}

.shorts_icon{
  height: 25px;
}